input::placeholder,
textarea::placeholder {
  text-align: center;
}

div {
  margin-top: 10px;
}

.task-item {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.completed {
  background-color: rgba(74, 194, 74, 0.965);
}

.unfinished {
  background-color: rgba(193, 52, 52, 0.713);
}

h1 {
  text-align: center;
}

button {
  padding-right: 10px;
}